body {
    display: flex;
    margin: 0px auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container {
    display: flex;
}

.header {
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    flex: 0 0;
    min-width: 90%;
}

.text {
    margin: 0px;
    padding: 0px;
}

.centered {
    text-align: center;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link-container {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

#container-1 {
    background-color: #1F2937;
    justify-content: space-between;
    gap: 24px;
    flex-grow: 4;
    padding: 30px 100px;
    min-width: 90%;
}

#container-1a {
    width: 360px;
}

#title-1 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#text-1 {
    padding-bottom: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    color: #E5E7EB;
}

#button-2 {
    border: 2px solid #E5E7EB;
    
}

#container-2 {
    flex-direction: column;
    flex-grow: 4;
}

#title-2 {
    padding: 24px;
}


.card-container {
    justify-content: center;
    gap: 16px;
    padding-bottom: 24px;
}

.card {
    width: 160px;
}

.thumbnail {
    border-radius: 15px;
}

#container-3 {
    background-color: #E5E7EB;
    flex-grow: 4;
}

#container-4 {
    margin: 100px;
    padding: 24px 40px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: #3882F6;
    flex-grow: 3;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex: 1 0;
}

#title-5 {
    color: #E5E7EB;
}
